# 🔹 Python
__pycache__/
*.pyc
venv/

# 🔹 Backend node modules (you currently have frontend only)
backend/node_modules/

# 🔹 ML models & datasets
*.pkl
*.h5
*.csv
backend/models/

# 🔹 Sensitive files (VERY IMPORTANT)
backend/service-account-key.json
.env

# 🔹 Logs & temp
*.log
backend/service-account-key.json
